<div class="background-accent header-container">
    <div style="display: flex;align-items: center; gap: 20px;">
        <img class="img-fad" src=" {{ logoNaatTech }} " alt="logo NA-AT Tech">
        <a style="font-size: 30px; cursor: pointer;" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <div style="display: grid; grid-template-columns: 50% 50%; justify-items: flex-end; align-items: center;">
        <p class="txt-accent" style="text-align: right;"> {{ username }}</p>
        <img class="img-user" src="{{imgUser}}" alt="user image">
    </div>
</div>
<div style="display: flex;">
    <div style="margin: 100px auto 0px;">
        <iframe [src]="ruta | safe" 
        sandbox="allow-forms allow-modals allow-popups allow-same-origin allow-scripts" 
        allow="geolocation; microphone; camera; scrolling=“yes" frameborder="0"></iframe>
    </div>
</div>
