@import "../../../../../theme.scss";

.img-news {
  box-sizing: border-box;
  height: 106px;
  width: 106px;
  border: 1px solid $color-background-border;
  border-radius: 4px;
  background-color: $color-secondary-background;
}
