@import "../../../../../theme.scss";
/* CONTAINERS */
.general-container {
  display: grid;
  justify-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.card-container {
  padding: 10px 30px 25px;
  text-align: center;
  margin: auto;
}
.grid-container {
  display: grid;
  gap: 20px;
  padding: 20px 0px;
}
/* IMAGES */

/* TEXTOS */
h2 {
  margin: 20px 16px 10px;
}
.txt-description {
  margin: 0px 16px;
}

/* BUTTONS */
button {
  width: 227px;
}
.mat-stroked-button {
  background: $color-gradient;
  width: 200px;
  margin: 40px 20px 0px;
  font-family: "SFUIDisplayRegular", sans-serif;
  color: $color-text-white;
  border-radius: 100px;
}

@media (min-width: 450px) {
  .mostrar {
    display: none;
  }
}

@media (max-width: 449px) {
  .ocultar {
    display: none;
  }
  .mostrar {
    display: block;
  }
}
