@import "../../../../../theme.scss";
/* CONTAINERS */
.general-container {
  display: grid;
  justify-items: center;
}

.card-container {
  padding: 25px 30px;
}
.grid-container {
  display: grid;
  gap: 20px;
  padding: 20px 0px;
}
/* IMAGES */
img {
  margin: 180px 0px 0px;
}

/* TEXTOS */
h2 {
  margin: 20px 16px 10px;
}
.txt-description {
  margin: 0px 16px;
}

/* BUTTONS */
button {
  width: 227px;
}
.mat-stroked-button {
  background: $color-gradient;
  width: 200px;
  margin: 40px 20px 0px;
  font-family: "SFUIDisplayRegular", sans-serif;
  color: $color-text-white;
}
