<div class="principal-background">
    <div class="general-container">
        <!-- Contenedor -->
        <div class="secondary-background card-container">
            <img width="150px" src=" {{ logoNaatTech }} " alt="logo NA-AT Tech">
            <h2 class="center-txt txt-title-color"> {{ texts.TITLE }} </h2>
            <p class="txt-description txt-color-description center-txt"> {{ texts.DESCRIPTION }} </p>
            <div class="ocultar">
                <button mat-stroked-button (click)="doLogin()"> Inicia Sesión con Google </button>
            </div>
            <div class="mostrar">
                <button mat-stroked-button (click)="doLoginWithOutGoogle()"> Inicia Sesión </button>
            </div>
        </div>
    </div>
</div>
