@import '../../../../../../theme.scss';

.header-proyectos-container {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin-bottom: 30px;
}

/* Texts */
.btn-action {
    color: $color-accent;
}

/*
::placeholder {
    color: $color-inactive;
}*/

/* Button color */
/*
Segmento de código para forzar la aplicación de un estilo
::ng-deep .mat-raised-button {
    background: $color-gradient-button!important;
}*/
.mat-raised-button {
    background: $color-gradient-button;
    width: 200px;
    font-family: 'SFUIDisplayRegular', sans-serif;
}

.mat-icon {
    color: $color-accent;
    margin: 9px 10px;
}


/* Status color */
.statusActive {
    color: $color-status-active;
}

.statusInactive {
    color: $color-status-inactive;
}