@import "../../../../../../theme.scss";

.containerDetail {
  padding: 20px;
  background-color: $color-background-principal;
  color: black;
  box-shadow: 10px 10px 10px 10px $color-background-border;
  border-radius: 10px;
}
.flex {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.txt-title {
  color: $color-accent;
  font-size: 34px;
  padding-top: 20px;
  text-align: center;
}

.mat-raised-button {
  background: $color-gradient;
  width: 150px;
  font-family: "SFUIDisplayRegular", sans-serif;
  color: $color-text-white;
  font-size: 18px;
}
a {
  text-decoration: none;
}

.mat-icon {
  color: $color-inactive;
  font-size: 30px;
}
@media (min-width: 0px) and (max-width: 450px) {
  //   .txt-title {
  //     font-size: 20px !important;
  //   }
  .img-user,
  .img-fad {
    width: 50px;
  }
  .logo-container {
    gap: 5px;
  }
}
