@import "../../../../../../theme.scss";

/* BUTTONS */
.mat-raised-button {
  background: $color-gradient;
  width: 200px;
  font-family: "SFUIDisplayRegular", sans-serif;
}
::ng-deep .mat-button {
  min-width: auto;
  padding: 0 10px;
}
