<div *ngIf="activeSpinner" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>
<div class="background-accent header-container">
    <div style="display: flex;">
        <div style="display: flex;align-items: center; gap: 20px;">
            <img class="img-fad" src=" {{ logoNaatTech }} " alt="logo NA-AT Tech">
            <a style="font-size: 30px; cursor: pointer;" (click)="back()">
                <mat-icon>arrow_back</mat-icon>
            </a>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: 50% 50%; justify-items: flex-end; align-items: center;">
        <p class="txt-accent" style="text-align: right;"> {{ username }}</p>
        <img class="img-user" src="{{imgUser}}" alt="user image">
    </div>
</div>

<div style="display: flex; width: 100%; margin-top: 100px;">
    <div style="margin: auto; ">
        <form [formGroup]="addForm">
            <p class="txt-subtitle txt-color-description center-txt"> {{ textES.TITLE }} </p>
            <mat-form-field class="input-search">
                <label class="txt-description txt-color-labels" for="name">{{ textES.LABELS.NOMBRE}}</label>
                <input matInput [formControl]="name" type="text" name="name">
                <mat-error *ngIf="!name.valid && name.value !== '' ">
                    {{ txtError.INVALID_NAME_INPUT }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-search">
                <label class="txt-description txt-color-labels" for="email">{{ textES.LABELS.EMAIL}}</label>
                <input matInput [formControl]="email" type="email" name="email">
                <mat-error *ngIf="!email.valid && email.value !== '' ">
                    {{ txtError.INVALID_EMAIL_INPUT }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-search">
                <label class="txt-description txt-color-labels" for="phone">{{ textES.LABELS.PHONE}}</label>
                <input matInput [formControl]="phone" type="text" name="phone">
                <mat-error *ngIf="!phone.valid && phone.value !== '' ">
                    {{ txtError.INVALID_PHONE_INPUT }}
                </mat-error>
            </mat-form-field>
            <div style="display: flex; justify-content: center; width: 100%;">
                <button mat-raised-button [disabled]="!addForm.valid" (click)="postCreateSign()">Enviar</button>
            </div>
        </form>
    </div>
</div>
