<div>
    <span class="close-modal-style" >
        <mat-icon mat-dialog-close class="txt-accent" >close</mat-icon>
    </span>

    <p class="txt-title-dialog"> 
        {{ textES.TITLE }} 
    </p>

    <!-- Add Client -->
    <div>
        <form [formGroup]="addForm" >
            <p class="txt-description txt-color-description"> {{ textES.CLIENT_NAME }} </p>
            <mat-form-field class="input-search">
                <input matInput [formControl]="clientName" type="text" >
                <mat-error *ngIf="!clientName.valid && clientName.value !== '' " >
                    {{ txtError.INPUT_INVALID_FORMAT }}
                </mat-error>
            </mat-form-field>
        </form>
    </div>

    <!-- Add More Projects Button -->
    <div>
        <button 
            (click)="addNew()" 
            [disabled]="!clientName.valid || addList.length > 4" 
            class="txt-accent txt-description" 
            mat-button > 
            {{ txtAddButton }} 
        </button>
    </div>

    <!-- Added List -->
    <div *ngIf="addList.length != 0" >
        <p class="txt-description txt-color-title"> {{ textES.CLIENT_NAME }} </p>
    </div>

    <!-- Add new projects button -->
    <div class="add-dialog-button-container" >
        <button 
            (click)="createNewItem()" 
            [disabled]="addList.length === 0" 
            mat-raised-button> 
            {{ textButtons.ADD }} 
        </button>
    </div>
</div>