/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "SFUIDisplayRegular", sans-serif;
}

/*  ..::   TEXTS COLORS ::..   */
h1 {
  line-height: 41px;
  font-size: 35px;
  letter-spacing: 0;
  color: $color-texts-title;
  margin-top: 0px;
}

h2 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}
h3 {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  color: $color-texts-title;
  margin: 0;
}
.txt-upload {
  font-size: 8px;
  letter-spacing: 0;
  line-height: 8px;
  text-align: center;
  color: $color-text-description;
}

.txt-description {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 17px;
}
.center-txt {
  text-align: center;
}
.left-txt {
  text-align: left;
}
.txt-title-dialog {
  font-size: 24px;
  letter-spacing: 0;
  color: $color-texts-title;
  line-height: 29px;
  text-align: center;
}
.txt-title-table {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  color: $color-texts-title;
  text-align: left;
}
.txt-list {
  color: $color-texts-title;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

/* COLORS */
.txt-title-color {
  color: $color-texts-title;
}
.txt-color-description {
  color: $color-text-description;
}
.mat-header-cell {
  color: $color-text-description;
}

.mat-cell {
  color: $color-texts-title;
}

td.mat-cell {
  border-bottom-color: $color-inactive;
}

.txt-accent {
  color: $color-accent;
}

/*  ..::   BUTTONS ::..   */
.close-modal-style {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.mat-button[disabled][disabled] {
  color: $color-inactive;
}

/*  ..::   BACKGROUND STYLES ::..   */
.principal-background {
  background-color: $color-background-principal;
  height: 100vh;
}

.principal-background-general {
  background-color: $color-background-principal;
}

.secondary-background {
  background-color: $color-secondary-background;
}

.mat-table {
  background-color: $color-secondary-background;
  width: -webkit-fill-available;
  color: $color-text-description;
  font-family: "SFUIDisplayRegular", sans-serif;
}
.mat-dialog-container {
  background-color: $color-secondary-background;
  position: relative;
  padding: 0px 24px !important;
}

/* INPUTS  */
.input-search {
  font-family: "SFUIDisplayRegular", sans-serif;
  background-color: $color-secondary-background;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
input::placeholder,
input,
.mat-input-element {
  border-style: none;
  outline-style: none;
  color: $color-inactive !important;
  margin: auto 10px;
}
input {
  width: 100%;
}
.mat-error {
  margin-top: 30px;
}
mat-paginator .mat-select-value {
  width: 60% !important;
}
.inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.general-inputs-container {
  margin: 40px 0px 20px;
}
.line {
  border-top: 1px solid $color-inactive;
  display: flex;
  width: 100%;
  align-self: center;
}
input[type="file"] {
  display: none;
}
.input-drag-and-drop-zone {
  border: 2.13px dashed $color-background-border-accent;
  height: 100%;
  display: grid;
  align-content: center;
}

/* CONTAINERS */
.add-dialog-button-container {
  display: grid;
  justify-content: center;
  margin: 20px;
}
.items-added {
  background-color: $color-background-principal;
  padding: 0px 14px;
}
.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dropzone-container {
  background: rgba($color: $color-background-accent, $alpha: 0.05);
  padding: 10px;
}
.img-sm-container {
  width: 100px;
  height: 100px;
}
.img-l-container {
  width: 525px;
  height: 160px;
}

/* AUTOCOMPLETE */
.mat-autocomplete-panel {
  background: $color-secondary-background;
}

/* SELECT */
.mat-select-value,
.mat-option,
.mat-option.mat-active {
  color: $color-texts-title;
  font-family: "SFUIDisplayRegular", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $color-accent;
}
.mat-select-panel {
  background: $color-secondary-background;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: $color-background-principal;
}
.mat-select-arrow,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $color-accent;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 10px;
}
.mat-form-field-infix {
  margin-top: 0px;
  border-top: 0;
}
.mat-form-field {
  display: flex !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
  width: 100%;
}
.mat-form-field-wrapper {
  display: flex !important;
}
.mat-select {
  padding: 10px 0px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
  display: none;
}

/* TABLES */
td,
th,
td.mat-cell {
  padding: 20px 0px !important;
}
.mat-paginator {
  background-color: $color-secondary-background;
  color: $color-texts-title;
}
.mat-icon-button[disabled][disabled] {
  color: $color-inactive;
}
.mat-icon-button {
  color: $color-accent;
}
table {
  //margin: 10px 16px;
  padding-left: 20px;
  width: -webkit-fill-available;
  background-color: $color-secondary-background;
  border-spacing: 0;
}
.table-container {
  overflow: auto;
  max-height: 600px;
}
th {
  font-family: "SFUIDisplayRegular", sans-serif;
  text-align: left;
  color: $color-text-description;
  font-size: 12px;
  font-weight: 500;
  padding-left: 24px;
}
td {
  color: $color-texts-title;
  font-size: 14px;
  border-bottom: 1px solid $color-inactive;
}
tr:last-child td {
  border-bottom: none;
}

/*  TABS  */
.mat-tab-label {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  color: $color-inactive;
  font-family: "SFUIDisplayRegular", sans-serif;
  height: 32px !important;
}

.mat-tab-label-active {
  color: $color-text-white;
  background-color: $color-background-tabs;
  border-radius: 5px;
}

/* MENU   */
.mat-menu-panel {
  background: $color-secondary-background;
}

/* CALENDAR */
.mat-calendar {
  font-family: "SFUIDisplayRegular", sans-serif;
}
.mat-datepicker-content {
  background-color: $color-secondary-background;
}
.mat-calendar-body-label,
.mat-calendar-header {
  color: $color-texts-title;
}
.mat-calendar-body-cell-content {
  color: $color-text-description !important;
}
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: $color-accent;
}
.mat-calendar-body-selected {
  background-color: $color-accent;
  color: $color-text-white !important;
}
.mat-calendar-controls {
  margin: 0 !important;
}
/*
  DIMENS
*/
.m-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-t-20 {
  margin-top: 20px;
}

.m-0 {
  margin: 0;
}
.mt-50 {
  margin-top: 50px;
}
/*
  SPINNER
*/
.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: $color-inactive, $alpha: 0.4);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
    FONTS 
*/
@font-face {
  font-family: SFUIDisplayRegular;
  src: url("./assets/fonts/SF-UI-Display-Regular.ttf") format("truetype");
}

@media only screen and (min-width: 360px), (max-width: 600px) {
  /* ERROR MESSAGE */
  .invalid-size {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: $color-accent;
    font-size: 12px;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  /* ERROR MESSAGE */
  .invalid-size {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: $color-accent;
    font-size: 20px;
  }
}
