/*  ..::   COLORS ::..   */
$color-background-principal: #f9f9f9;
$color-secondary-background: #ffffff;
$color-background-tabs: #333;
$color-background-accent: #a70635;
$color-background-border-accent: #a70635;
$color-background-border: #c6c6c6;
$color-texts-title: #333333;
$color-text-description: #e5a775;
$color-accent: #a70635;
$color-inactive: #e5a775;
$color-status-active: #28b19b;
$color-status-inactive: #a70635;
$color-radius: #f2f2f2;
$color-text-white: #fff;
$color-background-button-disabled: #e5a775;

/* GRADIENTS*/
$color-gradient: linear-gradient(140.77deg, #a70635 0%, #ff4585 100%);
