<div class="dialog">

    <span class="close-modal-style">
        <mat-icon [mat-dialog-close]="true" mat-dialog-close class="txt-accent">close</mat-icon>
    </span>
    <p class="txt-title-dialog">
        {{ txtEs.TITLE }}
    </p>
    <!--INPUTS-->
    <div class="general-inputs-container">
        <form [formGroup]="addForm">
            <div class="inputs-container">
                <div>
                    <p class="txt-description txt-color-description"> {{ txtEs.AREA }} </p>
                    <mat-form-field class="input-search">
                        <input matInput [formControl]="area" type="text">
                        <mat-error *ngIf="!area.valid && area.value !== '' ">
                            {{ errorMessages.INPUT_INVALID_FORMAT }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <p class="txt-description txt-color-description"> {{ txtEs.EMAIL_LEADER }} </p>
                    <mat-form-field class="input-search">
                        <input matInput [formControl]="emaillead" type="text">
                        <mat-error *ngIf="!emaillead.valid && emaillead.value !== '' ">
                            {{ errorMessages.INPUT_INVALID_FORMAT }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <h2 class="txt-title-color"> {{ txtEs.SECOND_TITLE_COLLABORATORS }} </h2>

        <form [formGroup]="addForm">
            <div class="inputs-container">
                <div>
                    <p class="txt-description txt-color-description"> {{ txtEs.ADD_COLLABORATORS }} </p>
                    <mat-form-field class="input-search">
                        <input matInput [formControl]="collaboratorsAutocomplete" type="email" [matAutocomplete]="auto" required>
                        <button matSuffix mat-icon-button (click)="addCollaborators()" [disabled]="!collaboratorsAutocomplete.valid || collaboratorsAdded.length > 4">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredList | async" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-error *ngIf="!area.valid && area.value !== '' ">
                            {{ errorMessages.INPUT_INVALID_FORMAT }}
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div>
                    <p class="txt-description txt-color-description"> {{ txtEs.ADD_ACTIVITIES }} </p>
                    <mat-form-field class="input-search">
                        <input matInput [formControl]="activities" type="text">
                        <button matSuffix mat-icon-button  (click)="addActivity()" [disabled]="!activities.valid || activitiesAdded.length > 4">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                        <mat-error *ngIf="!activities.valid && activities.value !== '' ">
                            {{ errorMessages.INPUT_INVALID_FORMAT }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="inputs-container">
            <!--COLLABORATORS ADDED-->
            <div class="items-added">
                <p *ngFor="let item of collaboratorsAdded; let pos = index" class="txt-list">
                    {{ item }}
                    <button mat-icon-button matSuffix (click)="removeCollaborator(pos)">
                        <mat-icon> close </mat-icon>
                    </button>
                </p>
            </div>

            <!--ACTIVITIES ADDED-->
            <div class="items-added">
                <p *ngFor="let item of activitiesAdded; let pos = index" class="txt-list">
                    {{ item }}
                    <button mat-icon-button matSuffix (click)="removeActivity(pos)">
                        <mat-icon> close </mat-icon>
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="add-dialog-button-container">
        <button [disabled]="!addForm.valid || collaboratorsAdded.length === 0 || activitiesAdded.length === 0" mat-raised-button (click)="addValues()"> 
            {{ btnText.ADD }} 
        </button>
    </div>
</div>