@import "../../../../../theme.scss";

/* CONTAINERS */
.principal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
}
.info-container {
  margin: auto;
  width: 250px;
}

.txt-container {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}

.profile-container {
  display: flex;
  padding: 50px 10px 20px;
  gap: 9px;
}
.profile-container p {
  margin: 0;
}

/*  IMAGE */
.img-small-logo {
  width: 150px;
  margin: 0px;
}
.user-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*  COLORS */
.icon-accent-color {
  color: $color-accent;
}

/*  MENU */
ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  margin: 30px 0px 10px;
}
ul li {
  list-style-type: none;
}
ul li a {
  font-size: 17px;
  letter-spacing: 0;
  line-height: 17px;
  text-decoration: none;
}

a {
  color: $color-inactive;
  display: flex;
  align-items: center;
  cursor: pointer;
}

li.active > a {
  color: $color-accent;
}
.mat-button {
  padding-left: 0;
  padding-right: 14px;
  min-width: 16px;
  margin-top: -2px;
}

/*  TEXTOS  */
.p18-left {
  padding-left: 18px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
