<mat-drawer-container class="example-container">
    <!--  ..::  MENU  ::..  -->
    <mat-drawer mode="side" opened *ngIf="verifyScreen()">
        <img class="img-small-logo" src="{{ logoNaatTech }}" alt="logo de NA-AT Tech">

        <!-- PROFILE IMAGE & WELCOME-->
        <mat-grid-list cols="3" class="mt-50">
            <mat-grid-tile>
                <img class="user-profile" src="{{userProfile}}" alt="user image">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <div>
                    <p class="m-0 txt-description txt-title-color"> {{ mensajeBievenida }} </p>
                    <p class="m-0 txt-description txt-title-color txt-container"> {{ userName }}
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon class="icon-accent-color"> {{ iconExpand }} </mat-icon>
                        </button>
                    
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="txt-title-color" (click)="logoutSession()">
                                <mat-icon class="icon-accent-color">logout</mat-icon>
                                {{ txtButtons.LOGOUT }}
                            </button>
                        </mat-menu>
                    </p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <!--  ITEMS -->
        <ul>
            <li routerLinkActive="active" *ngFor="let item of items">
                <a [routerLink]=" item.PATH_PAGE ">
                    <span>
                        <mat-icon> {{ item.ICON_ITEM }} </mat-icon>
                    </span>
                    <p class="p18-left">{{ item.TITLE }}</p>
                </a>
            </li>
        </ul>


    </mat-drawer>


    <!--  ..::  CONTENIDO DEL MENU  ::..  -->
    <mat-drawer-content>
        <div class="router-container">
            <h1 *ngIf="!verifyScreen()" class="invalid-size"> {{ errorMessages.INVALID_SCREEN }} </h1>
            <router-outlet *ngIf="verifyScreen()"></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>